# Default Timezone
php_value date.timezone 'Asia/kolkata'

# Disables Error Reporting on Screen
#php_value display_errors Off 

DirectoryIndex pages/reactjs.php

RewriteEngine on

# Rewrite URLs
RewriteRule tutorial/reactjs pages/reactjs.php [QSA,L]
RewriteRule tutorial/seo pages/seo.php [QSA,L]
RewriteRule tutorial/ecmascript pages/ecmascript.php [QSA,L]