html,body { overflow-x:hidden; }
.navbar-default { border-radius:0px;margin-bottom:0px;border-bottom:2px solid #d9534f; }
a.navbar-brand { font-size:14px;çolor:#d9534f; }
@media screen and (min-width: 768px) { .container-fluid .jumbotron { padding:20px; } }
.bg-black { background-color:#0d122f; }
.bg-lgtRed { background-color:#fffbfb; }
.bg-lgtGrey { background-color:#e7e7e7; }
.font-paleBlue { color:#0eb9a9; }
.font-paleLgtBlue { color:#5ee6da; }
.font-paleRed {color:#f7857c; }
.font-paleOrange { color:#efb35a; }
.font-paleWhite { color:#f5e8d6; }
.font-palePurple { color:#e29fec; }
.font-paleLgtGreen { color:#b2c39d; }
.font-red { color:#d9534f; }
.fs12 { font-size:12px; }
.fs14 { font-size:14px;line-height:26px; }
.mtop5p { margin-top:5px; }
.mtop10p { margin-top:10px; }
.mtop15p { margin-top:15px; }
.mtop35p { margin-top:35px; }
.mbot0 { margin-bottom:0px; }
.mbot5p { margin-bottom:5px; }
.mbot10p { margin-bottom:10px; }
.noListStyle { list-style-type:none; }
.code-htmlTags { font-size: 0;line-height:18px; }
.code-htmlTags span { font-size: 14px; }
.lh26, ol.lh26>li>h5  { line-height:26px; }
ol.lh26 { color:#024279; }
.lh26>li>h5>a, a, a:hover { text-decoration:none; }
h5 { font-size:14px;line-height:22px; }
.padtopbot0 { padding-top:0px;padding-bottom:0px; }
.padInlineStart20p { padding-inline-start: 20px; }
.borderBot2p-primary { border-bottom: 2px solid #02428a; }
.pad0{ padding:0px; }
.pad10p{ padding:10px; }
.hide-block { display:none; }
hr { margin-bottom:10px; }

@font-face { font-family:thirdDegree;src:url('../../fonts/third-degree.ttf'); }

/* images: zoom-hover Effect within Divsion */
div.img-hover-zoom { position: relative;height: 300px;overflow: hidden; }
div.img-hover-zoom img { transition: transform 1s ease; }
div.img-hover-zoom:hover img { transform: scale(1.5); }
div.img-hover-zoom div.overlay { position: absolute;opacity:0;top: 0;bottom: 0;left: 0;right: 0;height: 100%;width: 100%;transition: .5s ease;background-color:#423f3f; }
div.img-hover-zoom:hover div.overlay { opacity: 0.8; }
div.overlay div.overlay-text { background-color:#000;width:100%;color: white;font-size: 20px;position: absolute;top: 86%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%); }
